<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Layout</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device=width", initial-scale="1.0">
    </head>
    <body style="background-color: silver; text-align: center;">
        <header style="background-color: snow;">
            <h1>Belajar Elemen Semantik di HTML</h1>
        </header>
        <nav>
            <a href="#">Home</a>
            <a href="#">About</a>
            <a href="#">Contact</a>
        </nav>
        <article style="background-color: snow;">
            <h1>Tutorial Semantik Elemen untuk pemula</h1>
            <p>Semantik elemen adalah elemen yang memiliki makna tujuan, Tujuannya agar kode HTML mudah dibaca dan tidak ada penyalahgunaan tag. Elemen semantik bagus untuk SEO dan juga meningkatkan Accsessibility.</p>
        </article>
        <footer style="background-color: snow;">
            Copyright &copy; 2021 by programan Web Kode
        </footer>
    </body>
</html>